<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>列表排序</title>
    <script src="/js/config/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>计算属性完成</h1>
      <input type="text" placeholder="请输入姓名" v-model="keywords" />
      <button @click="sortType=2">年龄升序</button>
      <button @click="sortType=1">年龄降序</button>
      <button @click="sortType=0">原顺序</button>
      <ul>
        <li v-for="(item,index) in personsFilters" :key="item.id">
          {{item.name}}---{{item.age}}---{{item.sex}}
        </li>
      </ul>
    </div>
    <script>
      new Vue({
        el: "#app",
        data() {
          return {
            persons: [
              { id: 10001, name: "周杰伦", age: 25, sex: "男" },
              { id: 10002, name: "周冬雨", age: 23, sex: "女" },
              { id: 10003, name: "温兆伦", age: 75, sex: "男" },
              { id: 10004, name: "马冬梅", age: 21, sex: "女" },
            ],
            keywords: "",
            sortType: 0,
          };
        },
        // 计算属性完成
        computed: {
          personsFilters() {
            // 完成过滤，不要着急返回，先记录
            const arr = this.persons.filter((item) => {
              return item.name.indexOf(this.keywords) != -1;
            });
            if (this.sortType) {
              // 排序会改变原数组
              arr.sort((p1, p2) => {
                // 后-前（降序）前-后（升序）
                return this.sortType === 1 ? p2.age - p1.age : p1.age - p2.age;
              });
            }
            return arr;
          },
        },
      });
    </script>
  </body>
</html>
